# Discord Bot Token (Required)
# Discord Developer Portal (https://discord.com/developers/applications) se lein
DISCORD_TOKEN=YOUR_BOT_TOKEN_HERE

# Command prefix for text commands (Default: !)
COMMAND_PREFIX=!

# Spotify API credentials (Optional: Bot works without these as well!)
# Agar aapke paas Spotify Developer app hai toh daal sakte hain, varna blank chhod dein
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
